*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


/* all sizes are relative to 16px */

html {
  font-size: 62.5%;
  /* is 16px, 100/16 = 62.5 10/16 */
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.big-heading {
  font-size: 10rem;
  text-align: center;
}


.row {
  max-width: 114rem;
  margin: 0 auto;


  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  [class^="col-"] {

    float: left;

    &:not(:last-child) {
      margin-right: 6rem;
    }
  }

  .col-1-of-2 {

    width: calc((100% - #{6rem}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{6rem}) / 3);
  }

  .col-2-of-3 {
    width: calc(2 * ((100% - 2 * #{6rem}) / 3) + #{6rem});
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{6rem}) / 4);
  }

  .col-2-of-4 {
    width: calc(2 * ((100% - 2 * #{6rem}) / 4) + #{6rem});
  }

  .col-3-of-4 {
    width: calc(3 * ((100% - 2 * #{6rem}) / 4) + #{6rem});
  }
}

.buttons--container {
  margin: 0 auto;
  max-width: 114rem;
  text-align: right;
  margin-bottom: 1.4rem;
}

.buttons--container button {
  background: none;
  border: none;
  margin-right: 1.4rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

.buttons--image {
  width: 32px;
}


.teachers {
  max-width: 114rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap: 2rem;
  margin: 0 auto;
  opacity: 0;
  transition: 1s all;
  margin-bottom:2rem;
}

.teacher {
  animation: fadeIn 500ms;
  transition: all 0.3s ease-in-out;
  max-width: 30rem;
  border-radius: 10px;
  text-decoration: none;
  margin-right: 2rem;
  margin-bottom: 1rem;

  &:hover {
    transform: scale(1.1);
  }

  &(:last-child) {
    margin-right: 0;
  }
}

.card {
  box-shadow: 0 0.4rem 8rem 0 rgba(0, 0, 0, 0.2);
  max-width: 26rem;
  max-height: 46rem;
  margin: auto;
  text-align: center;
  border-radius: 1.5rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  animation: fadeIn 500ms;
  min-height: 32rem;

  &:hover {
    transform: scale(1.1);
  }
}

.title {
  font-size: 1rem;
}


.teacher__tags {
  list-style: none;
  display: inline-block;
  padding: 0;
  text-align: center;
}

.u-align-center {
  text-align: center;
}

.teacher__name {
  font-size: 5rem;
}

.teacher__description {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  float: right;
  animation: fadeIn 500ms;
  display: none;
}

.show {
  display: block;
}

.tags {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.teacher__tags-tag {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #FFF;
  color: black;
  border: 0.2rem solid black;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem;

  &:hover {
    transform: scale(1.1);
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.selected {
  background-color: #000;
  color: #FFF;
  position: relative;

  &::after {
    margin-left: 0.5rem;
    content: '⊗';
    display: inline-block;
  }
}

.teacher__image {
  border-radius: 50%;
  width: 10rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  }

  &::after {
    transform: scale(1.2);
  }
}

.card.removing {
  -webkit-animation: fadeOut 500ms;
  -moz-animation: fadeOut 500ms;
  animation: fadeOut 500ms;
  display: none;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  max-width: 75%;
  min-width: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  border-radius: 10px;
  display: table;
  overflow: hidden;
}

.teacher__tags-smaller-tag {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #FFF;
  color: black;
  border: 0.2rem solid black;
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  text-transform: capitalize;
}

.popup__text {
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: inine-block;
  max-width: 40rem;
}

.popup__left {
  width: 33.333333%;
  display: table-cell;
}

audio{
    display: none;
}

.popup__right {
  width: 66.666667%;
  display: table-cell;
  vertical-align: top;
  padding: 1rem 2rem;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 1rem;
}

.btn-pronounce {
    display:flex!important;
    align-items:center;
    gap:1rem;
}


.btn {

  &:hover,
  &:focus {
    background: #5357AE;
    color: white;
  }
  cursor:pointer;
  border:2px solid black;
  padding:1rem;
  text-align:center;
  display:inline-block;
  font-size: 1.3rem;
  text-decoration:none;
  color:black;
  margin-bottom:1rem;
  margin-top:1rem;

}

.popup__close {
  color: black;
  font-size: 3rem;
  text-align: right;
  position: absolute;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.popup__img {
  display: block;
  object-fit: cover;
  width: 32rem;
  height: 32rem;
}


@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {

  html {
    font-size: 50.3%; //16px
  }

  .popup__left {
    display: block;
  }

  .popup__right {
    display: block;
    width: 100%;
  }

  .big-heading {
    font-size: 4rem;
    margin-top: 1rem;
  }

  .teachers {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding: 2rem;
  }

}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40px, 0px);
}

lds-grid {
  display: inline-block;
  position: relative;
  width: 80rem;
  height: 80rem;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
