*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


/* all sizes are relative to 16px */

html {
  font-size: 62.5%;
  /* is 16px, 100/16 = 62.5 10/16 */
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.big-heading{
  font-size: 10rem;
  text-align:center;
}


.row {
  max-width: 114rem;
  margin: 0 auto;


  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  [class^="col-"] {

    float: left;

    &:not(:last-child) {
      margin-right: 6rem;
    }
  }

  .col-1-of-2 {
 
    width: calc((100% - #{6rem}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{6rem}) / 3);
  }

  .col-2-of-3 {
    width: calc(2 * ((100% - 2 * #{6rem}) / 3) + #{6rem});
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{6rem}) / 4);
  }

  .col-2-of-4 {
    width: calc(2 * ((100% - 2 * #{6rem}) / 4) + #{6rem});
  }

  .col-3-of-4 {
    width: calc(3 * ((100% - 2 * #{6rem}) / 4) + #{6rem});
  }
}


.teachers{
  
}

.teacher{
  display: inline-block;
  animation: fadeIn 500ms;
  transition: all 0.3s ease-in-out;
  max-width: 30rem;
  border-radius:10px;
  text-decoration:none;
     margin-right: 2rem;
    margin-bottom:1rem;

  &:hover{
    transform: scale(1.1);
  }
}


.teacher__tags{
  list-style: none;
  display: inline-block;
  padding: 0;
  text-align:center;
  margin-bottom:2rem;
}

.u-align-center{
  text-align:center;
}

.teacher__name{
  font-size: 5rem;
}

.teacher__description{
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  float:right;
  animation: fadeIn 500ms;
  display:none;
}

.show{
  display:block;
}

.tags{
  font-size: 3rem;
  margin-bottom: 3rem;
}

.teacher__tags-tag{
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #FFF;
  color: #black;
  border:0.2rem solid black;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem;

  &:hover{
    background-color: #007bff;
  }

  &:not(:last-child){
    margin-right: 1rem;
  }
}

.selected{
  background-color: #007bff;

  &::after{
    content: '⊗';
    display:inline-block;
  }
}

.teacher__image{
  border-radius: 50%;
  width: 10rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
  transition: all 0.3s ease;

  &:hover, &:focus {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  }

  &::after {
    transform: scale(1.2);
  }
}

.teacher.removing {
    -webkit-animation: fadeOut 500ms;
    -moz-animation: fadeOut 500ms;
    animation: fadeOut 500ms;
    display:none;
}

.popup{
  height:100vh;
  width:100%;
  position: fixed;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.popup:target{
  opacity: 1;
  visibility: visible;
}

.popup__content{
  width:75%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  border-radius: 10px;
  display:table;
  overflow: hidden;
}

.popup__text{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.popup__left{
  width:33.333333%;
  display: table-cell;
}

.popup__right{
  width:66.666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.heading-secondary{
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  margin-bottom:2rem;
}

.btn{

  &:hover, &:focus{
    background:#5357AE;
    color:white;
  }

  border:2px solid black;
  padding:2rem;
  text-align:center;
  display:inline-block;
  font-size: 2rem;
  text-decoration:none;
  color:black;

}

.popup__close{
  &:link, &:visited{
    color: #000;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
  }
}

.popup__close:hover{
  color: #007bff;
}

.popup__img{
  display:block;
  object-fit: cover;
  width:36rem;
  height:36rem;
}

figcaption{
  text-align:center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color:black;
  animation: fadeIn 500ms;
  text-decoration:none;
}


@-moz-keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

@-webkit-keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

@-moz-keyframes fadeOut {
    from {opacity:1;}
    to {opacity:0;}
}

@-webkit-keyframes fadeOut {
    from {opacity:1;}
    to {opacity:0;}
}

@keyframes fadeOut {
    from {opacity:1;}
    to {opacity:0;}
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .popup__left{
    display:block;
  }
  .popup__right{
    display:block;
    width:100%;
  }
  .big-heading{
    font-size: 2rem;
    margin-top:1rem;
  }
}