<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="CMDLWD PEOPLE" />
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <meta property="og:title" content="CMD PEOPLE" />
    <meta property="og:description" content="Meet the CMD LWD People" />
    <meta property="og:image" content="public/images/cmdpeople.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="public/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/images/favicon-16x16.png">
    <link rel="manifest" href="public/images/site.webmanifest">
    <title>CMD PEOPLE</title>
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>