---
layout: layouts/base.njk
---
<div class="row">
    <h1 class="big-heading">CMD PEOPLE</h1>
</div>

<div class="row u-align-center">
  <ul class="teacher__tags">
    <li class="teacher__tags-tag" data-tag="3d">3D</li>
    <li class="teacher__tags-tag" data-tag="art">Art</li>
    <li class="teacher__tags-tag" data-tag="brand">Branding</li>
    <li class="teacher__tags-tag" data-tag="coding">Coding</li>
    <li class="teacher__tags-tag" data-tag="concept">Concept</li>
    <li class="teacher__tags-tag" data-tag="content">Content</li>
    <li class="teacher__tags-tag" data-tag="entre">Entrepreneurship</li>
    <li class="teacher__tags-tag" data-tag="ethics">Ethics</li>
    <li class="teacher__tags-tag" data-tag="film">Film</li>
    <li class="teacher__tags-tag" data-tag="game">Game</li>
    <li class="teacher__tags-tag" data-tag="graphic">Graphic</li>
    <li class="teacher__tags-tag" data-tag="illu">Illustration</li>
    <li class="teacher__tags-tag" data-tag="motion">Motion</li>
    <li class="teacher__tags-tag" data-tag="photo">Photography</li>
    <li class="teacher__tags-tag" data-tag="ppo">Personal</li>
    <li class="teacher__tags-tag" data-tag="research">Research</li>
    <li class="teacher__tags-tag" data-tag="sound">Sound</li>
    <li class="teacher__tags-tag" data-tag="story">Story</li>
    <li class="teacher__tags-tag" data-tag="strat">Strategy</li>
    <li class="teacher__tags-tag" data-tag="tac">Tactile</li>
    <li class="teacher__tags-tag" data-tag="ux">UX</li>  
</ul>
</div>

<section class="teachers" id="teachers">
  {%- for teacher in collections.teachers | sortByName -%}
    <div class="card" data-tags={{teacher.data.tags}} data-slug={{teacher.data.slug}}>
      <img style="width:100%" src="public/images/{{teacher.data.image}}.webp" alt="{{teacher.data.name}}">
      <h2 class="heading-secondary">{{teacher.data.name}}</h2>
      <p><a href="https://teams.microsoft.com/l/chat/0/0?users={{teacher.data.email}}" class="btn btn--blue">Contact via Teams</a></p>
    </div>

      <div id="{{teacher.data.slug}}" class="popup">
    <div class="popup__content">
      <div class="popup__left">
        <img class="popup__img" src="public/images/{{teacher.data.image}}.webp" alt="{{teacher.data.name}}">
      </div>
      <div class="popup__right">
        <a href="#teachers" class="popup__close">&times;</a>
        <h2 class="heading-secondary">{{teacher.data.name}}</h2>
        <p class="popup__text">{{teacher.data.tags}}</p>
        <a href="https://teams.microsoft.com/l/chat/0/0?users={{teacher.data.email}}" class="btn btn--blue">Contact via Teams</a>
      </div>
    </div>
  </div>
  {%- endfor -%}
</section>




<script src="/bundle.js"></script>