---
layout: layouts/base.njk
---
<div class="row">
    <h1 class="big-heading">CMD LWD People</h1>
</div>
<section class="teachers">
    
    {{ content | safe }}

    <div class="row">
      <ul class="teacher__tags">
          <li class="teacher__tags-tag" data-tag="coding">Coding </li>
          <li class="teacher__tags-tag" data-tag="video">Video</li>
          <li class="teacher__tags-tag" data-tag="motion">Motion</li>
          <li class="teacher__tags-tag" data-tag="game">Game</li>
          <li class="teacher__tags-tag" data-tag="photography">Photography</li>
          <li class="teacher__tags-tag" data-tag="copy">Copy</li>
          <li class="teacher__tags-tag" data-tag="story">Story</li>
      </ul>
    </div>
    <div class="row animated">
      {%- for teacher in collections.teachers -%}
        <a href="#{{teacher.data.name}}"  class="teacher" data-tags={{teacher.data.tags}}>
          <img class="teacher__image" src="public/images/{{teacher.data.image}}.avif" alt="{{teacher.data.name}}">
        </a>  

      <div id="{{teacher.data.name}}" class="popup">
        <div class="popup__content">
          <div class="popup__left">
            <img class="popup__img" src="public/images/{{teacher.data.image}}.avif" alt="{{teacher.data.name}}">
          </div>
          <div class="popup__right">
            <a href="#" class="popup__close">&times;</a>
            <h2 class="heading-secondary">{{teacher.data.name}}</h2>
            <p class="popup__text">
            {{teacher.data.description}}
            {{teacher.data.tags}}
            </p>

            <a href="#" class="btn btn--blue">Contact on Teams</a>
          </div>
        </div>
      </div>


      {%- endfor -%}
    </div>
</section>



<script src="/bundle.js"></script>