---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="row">
  <section class="teacher">

      <h1 class='big-heading'>{{name}}</h1>
      
      {{ content | safe }}
  </section>
</div>