---
slug: alice_ter_veld
name: Alice ter Veld
tags:
  - story
  - ppo
description: Alice ter Veld, avontuurlijke globetrotter met passie voor fotografie en duurzaamheid. Ontdekt de wereld met een camera in de hand. 📸🌍 #AliceTerVeld
image: alice_ter_veld
layout: layouts/teacher.njk
---