---
slug: amarins_schuilenburg
name: Amarins Schuilenburg
email: amarins.schuilenburg@nhlstenden.com
tags:
  - ppo
  - project
description: Amarins Schuilenburg, creatieve geest met een liefde voor kunst en natuur. Schildert haar wereld in kleurrijke penseelstreken. 🎨🌿 #AmarinsSchuilenburg
image: amarins_schuilenburg
layout: layouts/teacher.njk
---