---
layout: layouts/individual-teacher.njk
name: Jaap Praamstra
slug: jaap_praamstra
email: jaap.praamstra@nhlstenden.com
tags:
  - motion
  - video
  - art
  - photography
  - story
  - film
image: jaap_praamstra
---