---
name: Mark Winkel
slug: mark_winkel
email: mark.winkel@nhlstenden.com
tags:
  - 3d
  - motion
  - art
  - graphic
  - branding
  - photography
  - coding
  - entrepreneurship
image: mark_winkel
---