---
layout: layouts/individual-teacher.njk
name: Michel van Galen
slug: michel_van_galen
email: michel.van.galen@nhlstenden.com
tags:
  - art
  - brand
  - ethics
  - entrepreneurship
  - concept
  - personal
  - first
image: michel_van_galen
---