---
layout: layouts/individual-teacher.njk
name: Niek Heegen
slug: niek_heegen
email: niek.heegen@nhlstenden.com
tags:
  - motion
  - video
  - sound
  - brand
  - content
  - story
  - photography
  - first
image: niek_heegen
---