---
layout: layouts/individual-teacher.njk
name: Raymond van Dongelen
slug: raymond_van_dongelen
email: raymond.van.dongelen@nhlstenden.com
tags:
  - coding
  - research
image: raymond_van_dongelen
---