---
layout: layouts/individual-teacher.njk
name: Tjerk Jippe Dijkstra
slug: tjerk_dijkstra
email: tjerk.dijkstra@nhlstenden.com
tags:
  - coding
  - research
  - ux
  - photography
image: tjerk_dijkstra
---
