---
permalink: /tjerk/
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="refresh" content="0; url=/teachers/tjerk_dijkstra/">
    <link rel="canonical" href="/teachers/tjerk_dijkstra/" />
</head>
<body>
    <p>Redirecting to <a href="/teachers/tjerk_dijkstra/">Tjerk's page</a>...</p>
</body>
</html>